@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{margin: 0;padding: 0;font-family: 'Ubuntu', sans-serif;font-weight: 400;}
body{background: url('../img/backgr.png')  center center no-repeat  fixed;background-size: cover;}
a {text-decoration: none;color: #FFFFFF;}
header{height: 6vh;width: 100%;background: rgba(0, 0, 0, 0.4);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;align-items: center;justify-content: space-between;}
.logo-text{font-weight: 700;line-height: 22px;font-size: 22px;color: #FFFFFF;margin-left: 6%; cursor: pointer;}
.logo-text:hover{font-weight: 700;line-height: 20px;font-size: 20px;color: #3CB878;transition: all 1s ease 0s;}
.menu-nav{display: flex;gap: 25px;margin-right: 6%;list-style-type: none;}
header .menu-nav p{color: #FFFFFF;font-size: 14px;border-left: 1px solid rgba(255, 255, 255, 0.6);padding-left: 25px;}
header .menu-nav a:hover{color: #3CB878;transition: all 1s ease 0s;}
.calendar-icon{width: 21px;height: 24px;background: url('../img/icon1.svg') no-repeat;cursor: pointer;}
.calendar-icon:hover{background: url('../img/icon1g.svg') no-repeat;transition: all 1s ease 0s;}
.mail-icon{width: 23px;height: 23px;background: url('../img/icon2.svg');cursor: pointer;}
.mail-icon:hover{background: url('../img/icon2g.svg');transition: all 1s ease 0s;}
.compass-icon{width: 23px;height: 23px;background: url('../img/icon3.svg');cursor: pointer;}
.compass-icon:hover{background: url('../img/icon3g.svg');transition: all 1s ease 0s;}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    height: 70vh;
    width: 28vw;
    background-color: #FFFFFF;
    margin: 12vh auto;
    box-sizing: border-box;
}
.login-form-text{
    width: 22vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative;
}
.login-form-text::before{
    content: '';
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -3vw;
}
.login-form-text p{
font-size: 20px;
line-height: 20px;
color: #434343;
}
.login-form-text a{
font-size: 14px;
line-height: 14px;
color: #3CB878;
cursor: pointer;
}
.login-form-text a:hover{
    text-decoration: underline;
    transition: all 1s ease 0s;
}
form button{
    width: 10.8vw;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
color: #FFFFFF;
}
.facebook{
background-color: #305DB8;
position: relative;
cursor: pointer;
}
.facebook::before{
    content: url(../img/fb.svg);
    position: absolute;
    left: 10px;
    top: 12px;
}
.facebook:hover{
    background-color: #022263;
    transition: all 1s ease 0s;
}
.google-plus{
background-color: #DF4A32;
position: relative;
cursor: pointer;
}
.google-plus:hover{
background-color: #AB1F09;
transition: all 1s ease 0s;
}
.google-plus::before{
    content: url(../img/Gl.svg);
    position: absolute;
    left: 10px;
    top: 15px; 
}
.text-or-line{
    width: 22vw;
    height: 35px;
    position: relative;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgba(242, 242, 242);
    margin-bottom: 10px;
}
.text-or-line::before{
content: 'or';
position: absolute;
bottom: -6px;
left: 50%;
font-size: 14px;
line-height: 14px;
color: #848484;
background-color: #FFFFFF;

}
.input-login{
    width: 22vw;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.input-login:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    }
.input-login:focus{
border: 1px solid #000000;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input-button{
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
background: rgba(60, 184, 120, 0.8);
border: none;
}
.input-button:hover{
background: #01813F;
border: 4px solid #01813F;
transition: all 1s ease 0s;
}
label a{
color: #3CB878;
padding-left: 5px;
}
label a:hover{
    color: #01813F;
    text-decoration: underline;
    transition: all 1s ease 0s;
}
.input-checkbox{
    width: 22vw;
    display: flex;
    margin-bottom: 10px;
}
.input-checkbox input{
    display: none;
}
.input-custom{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2 ;
    margin-right: 10px;
}
.input-checkbox input:checked + div{
    background: url('../img/checkbox_busy.svg' ) center no-repeat;
}